.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.574);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  background: url("https://img.freepik.com/premium-photo/abstract-subtle-flower-frame-background-purple-navy-blue-orange-light-blue_1000823-221898.jpg?semt=ais_hybrid&w=740")
    center/cover no-repeat;
  transition: background-image 0.3s ease;
  padding: 2rem;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Hover styles */
.modal.hovered-confirm {
  background: url("https://i.pinimg.com/564x/bc/46/76/bc4676fcec4c34941441742ac8a00018.jpg")
    center/cover no-repeat;
}

.modal.hovered-cancel {
  background: url("https://i.pinimg.com/736x/29/d0/2f/29d02f8d84938e101c18450bf6e991f2.jpg")
    center/cover no-repeat;
}

/* Overlay inside modal */
.modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(167, 167, 167, 0.558);
  border-radius: 12px;
  z-index: 0;
}

/* Content */
.modal h3,
.modal p,
.modal-buttons {
  position: relative;
  z-index: 1;
}

.modal h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: black;
}

.modal p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: black;
  font-weight: 600;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-buttons button:first-child {
  background: linear-gradient(135deg, var(--main), var(--light));
  color: white;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.modal-buttons button:first-child:hover {
  background: linear-gradient(135deg,  #bc97d4, #8a5ca6)!important;

} 

.modal-buttons button:last-child {
  background: #eee;
  color: #333;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
