
.collection-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light);
    width: 400px;
    position: relative;
  }
  .collection-card:hover {
    border: 1px solid var(--main);
  }
  .collection-image {
    width: 400px;
    height: 350px;
    object-fit: cover;
  }
  
  .collection-info {
    padding: 5px;
  }
  .collection-name {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 0 -20px;
    color: var(--main);
  }
  .collection-des {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .collection-price {
    color: var(--green);
    margin: 20px;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .price-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .avg-rating {
    display: grid;
    color: white;
    background-color: var(--green);
    padding: 5px;
    margin: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .delivery {
    font-size: 18px;
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 7px;
  }
  
  .wishlist-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: white;
    border-radius: 30%;
    padding: 6px;
    border: 1px solid var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
  }
  
  .wishlist-btn:hover {
    transform: scale(1.1);
  }
  
  .heart {
    font-size: 18px;
  }
  